* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(220, 220, 220);
    height: 100vh;
    width: 100%;
    background-color: #200330;
}

a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

a:hover {
    color: white;
}

/* Header Stlying */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-container {
    margin: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.logo, .logo img {
    width: 150px;
    height: 66px;
}

.right-container {
    margin: 0.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 38%;
}

.search-box input {
    width: 300px;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #1D1241;
    color: rgb(220, 220, 220);
    border-style: none;
}

.bell {
    height: 15px;
    width: 15px;
}

.bell i {
    background-color: rgb(220, 220, 220);
}

.profile-picture {
    height: 35px;
    width: 35px;
}

.profile-picture img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

/* Hero styling */

.hero {
    display: flex;
    justify-content: center;
}

.left-hero {
    margin: 1.5em;
    margin-top: 0.5em;
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Top image styling */

.main-image {
    height: 288px;
    margin-bottom: 1.5em;
}

.main-image img {
    width: 744px;
    height: 288px;
    cursor: pointer;
}

/* Latest release section styling */

.latest-release {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
    padding-right: 4em;
}

.top-heading {
    width: 100%;
    font-weight: bolder;
    font-size: larger;
}

.bottom-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* padding-left: 0.2em; */
}

.first, .second {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0.9em;
}

.left, .right {
    display: flex;
    justify-content: start;
    width: 50%;
}

.left {
    margin-right: 1.3em;
}

.bottom-elements img {
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dots {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.7em 0.9em 0 0;
}

.more-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0.9em 0 0;
    padding-left: 1.5em;
    cursor: pointer;
}

.value {
    text-align: start;
    width: 100%;
}

.value .date {
    font-weight: lighter;
    font-size: small;
    color: rgb(214, 214, 214);
}

.time {
    font-weight: lighter;
    font-size: small;
    color: rgb(169, 169, 169);
}

/* Popular artist section styling */

.popular-artist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.artists-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.9em 0;
}

.artists {
    text-align: center;
    cursor: pointer;
}

.artists img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.artist-name {
    text-align: center;
    font-size: small;
}

/* Categories section styling */

.categories {
    width: 100%;
    margin-bottom: 2em;
}

.top-cat {
    width: 100%;
    background-color: #2A0047;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4em;
    margin-bottom: 1.5em;
}

.top-cat img {
    height: 109px;
    width: 140px;
    cursor: pointer;
}

.top-right-cat {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.top-cat-img {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.top-cat-img img {
    opacity: 60%;
    height: 83px;
    width: 83px;
    border-radius: 50%;
}

.img-text-top {
    font-size: smaller;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-cat-img {
    display: inline-block;
    position: relative;
}

.bottom-cat-img img {
    opacity: 60%;
    width: 220px;
    height: 137px;
    cursor: pointer;
}

.img-text {
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Latest lang section styling */

.latest-lang {
    width: 100%;
    margin-bottom: 4.5em;
}

.english, .hindi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.lat-lang-cont {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9em 0;
}

.let-lang-img img {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.song-info {
    text-align: start;
    cursor: pointer;
}

.song-info b {
    font-size: small;
}

.date {
    font-weight: lighter;
    font-size: x-small;
    color: rgb(169, 169, 169);
}

/* Right-hero styling */

.right-hero {
    margin: 1.5em;
    margin-top: 0.5em;
    width: 27%;
    height: 100vh;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.left-main-ele {
    font-size: x-large;
    font-weight: bolder;
}

.right-sec-ele {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.text-ele {
    color: lightseagreen;
    font-size: small;
}

.icon-ele {
    color: lightseagreen;
    padding-bottom: 0.2em;
    cursor: pointer;
}

.bottom-area {
    width: 100%;
    height: 100%;
    padding: 0 1.3em;
}

.option {
    margin-bottom: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.starting-ele {
    display: flex;
    align-items: center;
}

.num {
    font-size: small;
    font-weight: lighter;
    color: rgb(228, 228, 228);
}

.song-image {
    margin-left: 1em;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.song-image img {
    width: 40px;
    height: 40px;
}

.song-details {
    text-align: start;
    margin-left: 1em;
    cursor: pointer;
}

.song-details b {
    font-size: small;
}

.song-details div {
    font-weight: lighter;
    font-size: x-small;
    color: rgb(216, 216, 216);
}

.end-icon {
    cursor: pointer;;
}

/* Footer section styling */

.footer {
    background-color: #303030;
    width: 100%;
    height: 12vh;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17%;
}

.song-selected {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: start;
    margin-left: 1em;
}

.name b {
    font-size: 0.88rem;
}

.name div {
    font-size: 0.7rem;
    font-weight: lighter;
    color: rgb(191, 191, 191);
}

.song img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.like-icon {
    cursor: pointer;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skip {
    padding-top: 0.4em;
}

.top-player-cont {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 0.7em 0 0.3em 0;
}

.top-player-cont i {
    cursor: pointer;
}

.bottom-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time-stamp {
    font-size: smaller;
    font-weight: lighter;
    margin: 0 0.5em;
    color: rgb(216, 216, 216);
}

.bottom-player img {
    width: 400px;
    height: 20px;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
}

.controls i {
    cursor: pointer;
}

.controls div {
    margin-left: 0.6em;
}
