* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(220, 220, 220);
    height: 100vh;
    width: 100%;
    background-color: #200330;
}

a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

a:hover {
    color: white;
}

/* Header Stlying */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-container {
    margin: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21%;
}

.logo, .logo img {
    width: 150px;
    height: 66px;
}

.right-container {
    margin: 0.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 38%;
}

.search-box input {
    width: 300px;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: #1D1241;
    color: rgb(220, 220, 220);
    border-style: none;
}

.bell {
    height: 15px;
    width: 15px;
}

.bell i {
    background-color: rgb(220, 220, 220);
}

.profile-picture {
    height: 35px;
    width: 35px;
}

.profile-picture img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.hero {
    display: flex;
    justify-content: center;
}

.left-hero {
    background-color: grey;
    margin: 1.5em;
    margin-top: 0.5em;
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-image {
    height: 288px;
}

.main-image img {
    width: 744px;
    height: 288px;
}

.latest-release {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.top-heading {
    width: 100%;
}

.bottom-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.first, .second {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0.7em;
}

.left, .right {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
}

.bottom-elements img {
    width: 89px;
    height: 90px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-hero {
    background-color: grey;
    margin: 1.5em;
    margin-top: 0.5em;
    width: 30%;
    height: 100vh;
}
